<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <testpayment>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Test\Testpayment\Model\PaymentMethod</model>
                <active>1</active>
                <title>Test Payment</title>
                <title_image>https://developer.bharatx.tech/img/logo_black.svg</title_image>
                <order_status>pending</order_status><!-- set default order status-->
                <partner_id>testPartnerId</partner_id>
                <api_key>testPrivateKey</api_key>
                <live>1</live>
                <sort_order>-11</sort_order>
            </testpayment>
        </payment>
    </default>
</config>